@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
:root {
    --poll-width: 350px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 100vh;
    background: #6665ee;
}

ul {
    list-style-type: none;
}

::selection {
    color: #fff;
    background: #6665ee;
}

#poll {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 15px;
    margin-top: 5rem;
    padding: 1.5em 1.5em 1.1em 1.5em;
    min-width: var(--poll-width);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    visibility: hidden;
}

#poll.visible {
    visibility: visible;
}

#poll.hidden {
    visibility: hidden;
}

#poll.animation {
    visibility: visible;
    animation: fadeInTop .3s 1 ease-in;
    /* animation-timing-function: ease-in; */
}

#poll:hover {}

#poll > .pollHeader {
    margin-bottom: 1.0em;
}

li.option {
    margin: 0;
    padding: 0;
}

li input[type="radio"] {
    margin-right: 0.6em;
    height: 1.2em;
    width: 1.2em;
}

li label {
    display: block;
    border: 2px solid rgb(219, 219, 219);
    border-radius: 5px; 
    padding: 0.7em 0.7em 0.4em;
    transition: all 0.2s ease;
    margin-bottom: 0.7em;
}

li.checked label {
    border-color: #6665ee;
}

li span {
    font-size: 1em;
    font-weight: 600;
}

li span.percent {
    float: right;
    margin-left: 2em;
    visibility: hidden;
}

#poll.voted li span.percent {
    visibility: visible;
}

li .progressBar {
    height: 7px;
    width: 100%;
    position: relative;
    background: #f0f0f0;
    margin: 8px 0 3px 0;
    border-radius: 30px;
    pointer-events: none;
}

li .progressBar::after {
    position: absolute;
    content: "";
    height: 100%;
    background: #ccc;
    width: 0;
    border-radius: inherit;
    transition: all 0.2s ease, width 0.9s ease;
}

#poll #vote {
    background: #6665ee;
    border-width: 0;
    /* border-top-left-radius: 20px 50% ;
    border-top-right-radius: 20px 50% ;
    border-bottom-left-radius: 20px 50% ;
    border-bottom-right-radius: 20px 50% ; */

    
    font-size: 1.2em;
    /* padding: 1.6em auto; */
    
    border-radius: 100rem;
    height: 2.2em;

    color: #fff;
    transition: transform 0.2s;
    margin-top: 0.5em;
    font-weight: 600;
}

#poll #vote:hover {
    transform: scale(97%);
}

#poll.voted .progressBar::after {
    width: calc(1% * var(--w));
}

input:checked~.progressBar::after {
    background: #6665ee;
}

input.circle {
    height: 19px;
    width: 19px;
    display: block;
    border: 2px solid #ccc;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
}

input:checked.circle {
    border-color: #6665ee;
}

input.circle:hover::after {
    content: "";
    width: 11px;
    height: 11px;
    border-radius: inherit;
    background: #ccc;
    position: absolute;
    left: 2px;
    top: 2px;
}

#pollFetcher {
    background-color: pink;
    margin: 3rem;
}

#pollFetcher input[type=button] {
    padding: 1.0em 0.8em;
}

#info {
    padding: 0.4em 0.6em;
}

@keyframes fadeInTop {
    from {
        transform: translateY(-15%);
        opacity: 40%;
    }
    to {
        opacity: 100%;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #poll {
        width: calc(100% - 40px);
        visibility: visible;
    }
}


/* @media only screen and (max-width: var(--poll-width)) {
    /* For mobile phones: */
    /* body {
        justify-content: flex-start ; */
    /* } */
/* } */